:root{
    
    --primary-color: #10375c;
    --secondary-color: #2e80ce;
    --third-color: #f6fbff;
    --fourth-color: #eff6fd;

    --text-color: #575f66;
    --text-secondary-color: #c9d2da;

    --font: Sora, sans-serif;

    --button-color: #2e80ce;
}

*{
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

body{
    font-size: 1.6rem;
    font-family: var(--font);
    color: var(--text-color);
}

.container{
    width: 100%;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

a{
    text-decoration: none;
    color: var(--text-secondary-color);
}

.btn{
    display: inline-block;
    min-width: 205px;
    line-height: 60px;
    background: var(--button-color);
    border: 1px solid var(--button-color);
    color: #fff;
    text-align: center;
    font-size: 1.8rem;
    font-weight: 400;
    border-radius: 999px;
    transition: all .3s ease;
}

.btn:hover{
    color: var(--button-color);
    background-color: white;
}