.header {
  background-color: var(--primary-color);
}

.header-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 0;
}

.header-top__nav-list {
  display: flex;
  align-items: center;
  gap: 40px;
  transition: all 0.3s ease;
}

.header-top__nav-list a:not(.active):hover {
  color: white;
  text-decoration: underline;
}

.active {
  color: white;
  display: inline-flex;
  align-items: center;
}

.active::before {
  content: "";
  padding: 3px;
  border-radius: 50%;
  background-color: white;
  margin-right: 10px;
  display: inline-block;
}

.header-top__action{
    display: flex;
    gap: 30px;
    align-items: center;
}

.btn-signup{
    min-width: 150px;
    line-height: 50px;
}

.hero{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 8rem;
}

.hero__content{
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 44%;
}

.hero__content h1{
    font-size: 7rem;
    color: #fff;
    font-weight: 600;
    line-height: 1.2;
}

.hero__content p{
    color: var(--text-secondary-color);
    line-height: 1.7;
    font-size: 1.8rem;
}

.hero__contact{
    display: flex;
    align-items: center;
    gap: 4.5rem;
}

.hero__contact span{
    color: #fff;
    font-size: 1.8rem;
}

.hero__media{
    display: flex;
    align-items: center;
}

.hero__img--large{
    width: 330px;
    height: 540px;
    border-radius: 8px;
    object-fit: cover;
    z-index: 1;
}

.hero__img--small{
    width: 210px;
    height: 410px;
    border-radius: 8px;
    object-fit: cover;
    margin-left: -10px;
}

/* End Header */

/* Main */

/* Service */
.service{
    padding: 10rem 0;
    background-color: #fff;
}

.service__inner{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5rem;
}

.service__title{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
    width: 40%;
    text-align: center;
}

.service__title h1{
    font-size: 5rem;
    color: var(--primary-color);
}

.service__title p{
    line-height: 1.7;
    font-size: 1.8rem;
}

.service__content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.service__media img{
    width: 570px;
    aspect-ratio: 1/1;
    object-fit: cover;
    border-radius: 8px;
}

.service__list{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.service-item {
    padding: 21px;
    display: flex;
    width: 470px;
    border-radius: 10px;
    background: #fff;
    transition: 0.3s;
    gap: 20px;
    align-items: center;
}

.service-item:hover{
     position: relative; /*thoát khỏi flow thông thường, nằm trên các items khác */
    box-shadow: 0px 14px 28px 0px rgba(0, 0, 0, 0.05);
}

.service-item:hover .service-item__icon{
    background-color: var(--secondary-color);
    color: #fff;
}

.service-item__icon{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: #eff6fd;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.05);
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    transition: all 0.3 ease;
}

.service-item__body{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.service-item__body h3{
    color: var(--primary-color);
    font-size: 1.8rem;
    font-weight: 600;
}

.service-item__body p{
    line-height: 1.7;
}

.service__btn{
    align-self: flex-start;
}

/* End Service */

/* Work */
.work{
    padding: 100px 0;
    background-color: var(--third-color);
}

.work__inner{
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.work__title{
    display: flex;
    flex-direction: column;
    width: 40%;
    gap: 30px;
}

.work__title h1{
    font-size: 5rem;
    color: var(--primary-color);
    font-weight: 600;
}

.work__title p{
    font-size: 1.8rem;
    line-height: 1.7;
}

.work__content{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 70px;
}

.work__item{
    background-color: #fff;
    border: 16px solid var(--fourth-color);
    padding: 40px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    transition: all .3s ease;
}

.work__item img{
    width: 72px;
    height: 72px;
    object-fit: cover;
}

.work__item h3{
    color: var(--primary-color);
    font-size: 2.6rem;
    font-weight: 600;
}

.work__item p{
    line-height: 1.75;
    font-weight: 200;
}

.work__link{
    color: var(--secondary-color);
}

.work__item:hover{
    border-color: var(--secondary-color);
    position: relative;
    transform: translateY(-16px);
}

/* End Work */
